In [5]:
import numpy as np

a = np.arange(20).reshape(4, 5) # this will create an ndarray with 20 integers

a.ndim #displays the dimesion(axes) of the ndarray generated.
type(a)

numpy.ndarray

In [6]:
a.shape #size of the arrays in each dimensions

(4, 5)

In [11]:
a.size #number of element in the array

20

In [12]:
a.dtype #the data type of the element in the ndarray

dtype('int64')

In [13]:
a.itemsize #size of each element in the ndarray

8

In [7]:
a.data #buffer containing the actual elements.

In [9]:
b = np.array([2,3,4,5,3,12,65,32])
type(b)

numpy.ndarray

In [12]:
c = np.array([(1,2,6,54,65,54), (43,65,43,32,324,654), ("steve" , "muish", "mike", "fab", "school", 8)])
c

array([['1', '2', '6', '54', '65', '54'],
       ['43', '65', '43', '32', '324', '654'],
       ['steve', 'muish', 'mike', 'fab', 'school', '8']], dtype='<U21')

In [13]:
c.dtype

dtype('<U21')

In [ ]:
d = np.empty((3,15))
d