In [3]:
import pandas as pd
import numpy as np

# Panda series data structure.

s = pd.Series([23, 43,np.nan, "steve", 'a'])

print(s)

0       23
1       43
2      NaN
3    steve
4        a
dtype: object

In [5]:
s2 = pd.Series(["23", "43","np.nan", "steve", "a"])
print(s2)

0        23
1        43
2    np.nan
3     steve
4         a
dtype: object

In [11]:
# panda second datastructure data frame.
# Passed a dictionary to the dataframe function to create the df.

df = pd.DataFrame({"Column1":np.arange(1,50, 3), "Column2":np.arange(51,100, 3)})

print(df)

    Column1  Column2
0         1       51
1         4       54
2         7       57
3        10       60
4        13       63
5        16       66
6        19       69
7        22       72
8        25       75
9        28       78
10       31       81
11       34       84
12       37       87
13       40       90
14       43       93
15       46       96
16       49       99

In [15]:
# Reading data from the database.
import mysql.connector as con

conn = con.connect(user="steve",password="sijui!",host="127.0.0.1",database="SpringJDBC")

df2 = pd.read_sql("SELECT * FROM StudentLogin", conn)

print(df2)

     StudentName StudentPassword                         StudentEmail
0   Joseph Maina          37681!   joseph.maina22@students.dkut.ac.ke
1  Stephen Muiru     Aa37333681!  Stephen.muiru22@students.dkut.ac.ke
2  Stephen Muiru     AA37333681!                  Stepmuish@gmail.com
3  Stephen Muiru     aa37333681!                Stevenmuish@gmail.com

/tmp/ipykernel_31452/2492848848.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql("SELECT * FROM StudentLogin", conn)